* { box-sizing: border-box }

a { text-decoration: none }

body {
  margin: 0;
  background: #88BBDD;
  font: 14px sans-serif;
}

#game-area > * {
  display: block;
  margin: 10px auto;
}

#game-option-buttons {
  text-align: center;
}

#game-option-buttons a {
  display: inline-block;
  padding: 8px;
  margin: 0 4px;
  border-radius: 4px;
  color: #FFF;
  background: #238;
}

#game-option-buttons a:hover, #game-option-buttons a:focus {
  background: #349;
}

#footer {
  padding-top: 8px;
  text-align: center;
}
